.calendar {
  width: 100%;
  max-width: 400px;
  margin: auto;
}

.calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.calendar-body {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.calendar-day {
  padding: 10px;
  text-align: center;
  cursor: pointer;
}

.calendar-day.empty {
  background-color: #eeeeee;
}

.calendar-day.selected {
  background-color: #db3d44;
  color: white;
}

.calendar-day.today {
  color: #db3d44;
}